/*! --- 共通スタイル --- */
body {
  font-family: $font-base;
}

p {
  font-size: 15px;
}

h2 {
  margin: 40px 0 0 0;
  &::after {
    content: url("images/line.png");
    margin-left: 10px;
  }
}

h3 {
  font-size: 27px;
}